@import '../../scss/mixins.scss';

.hourlyForcast {
    color: red;
    margin-top: 30px;
    overflow-x: auto;
    overflow-Y: hidden;
    

    p {
        padding: 0 30px;
        margin: 0;
    }

    @include scroll;
}