@mixin scroll {
    /* width */
    &::-webkit-scrollbar {
        height: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
    background: #eee; 
    border-radius: 5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
    }
}

@mixin mQ($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}

@mixin Animations($name, $delay) {
    animation-name: $name;
    animation-duration: 2s;
    animation-delay: $delay;
    animation-fill-mode: both;
    position: relative;
}

@mixin keyframes {
    @keyframes inputAnm {
        0% {top: -160px;}
        100% {top: 0;}
    }
    @keyframes cityCountaryAnm {
        0% {left: -500px;}
        100% {left: 0;}
    }
    @keyframes dateAnm {
        0% {right: -700px;}
        100% {right: 0;}
    }
    @keyframes tempratureAnm {
        0% {left: -620px;}
        100% {left: 0;}
    }
    @keyframes weatherAnm {
        0% {right: -700px;}
        100% {right: 0;}
    }
    @keyframes dailyContainer {
        0% {top: -250px;}
        100% {top: 0;}
    }
    @keyframes hourlyForcast {
        0% {width: 0;}
        100% {width: 100%;}
    }
}

