@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
@import 'mixins';
@import 'variables';

body {
    color: #eee;
    background: #ecf0f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kalam', cursive;
}

#main {
    text-align: center;
    margin-top: 25px;
    border-radius: 40px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    width: 70vw;
    height: 900px;
    padding: 60px 35px 35px 35px;
    background: linear-gradient(to bottom, #34495e, #192a56, #273c75, #40739e, #487eb0, #2c3e50 );
}

// * Input Section ---------------------------------------------------------
#input-city {
    .input {
        border: none;
        color: #eee;
        outline: none;
        background: none;
        font-size: $fontSize;
        padding: 20px 10px 20px 20px;
        border-radius: 25px;
        box-shadow: inset 8px 8px 8px #2f4155, inset -8px -8px 8px #2f4155;
        width: 300px;
        @include mQ(500px) {
            width: 50vw;
        }
        @include Animations(inputAnm, 0s);
    }
}

// * Online Section ---------------------------------------------------------
#online-forcast {
    .city-countary {
        font-size: ($fontSize * 2);
        font-weight: $fontWeight;
        @include Animations(cityCountaryAnm, 0s);
    }
    
    .date {
        font-size: $fontSize;
        @include Animations(dateAnm, 1s);
    }
    
    .temprature {
        font-size: ($fontSize * 2);
        font-weight: $fontWeight;
        @include Animations(tempratureAnm, 2s);
    }
    
    .weather {
        font-size: ($fontSize * 1.8);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @include Animations(weatherAnm, 3s);
    }
}

// * Daily Section ---------------------------------------------------------
#daily-forcast {
    font-size: $fontSize;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: auto;

    @include scroll;

    .daily-container {
        @include Animations(dailyContainer, 4s);
    }

    p {
        margin: 0;
        padding: 2px 10px;
    }

    .temperature-container {
        display: flex;
        justify-content: center;
    }
    
    .min-temperature {
        font-size: ($fontSize - 4px);
    }
    
    .max-temperature {
        font-size: ($fontSize - 2px);
        font-weight: $fontWeight;
    }
    
    .sunrise-container, .sunset-container {
        display: flex;
        justify-content: center;
    
        p {
            margin-top: 6px;
        }
    }
    
    .sun-moon-icon {
        width: 50px;
    }
}

// * Hourly Section ---------------------------------------------------------
#hourly-forcast {
    color: red;
    margin-top: 30px;
    overflow-x: auto;
    overflow-Y: hidden;
    
    @include Animations(hourlyForcast, 5s);

    p {
        padding: 0 30px;
        margin: 0;
    }

    @include scroll;
}

// * Animations ---------------------------------------------------------
@include keyframes;