@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
@import 'mixins';
@import 'variables';

body {
    color: #eee;
    background: #ecf0f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kalam', cursive;
}

.root {
    text-align: center;
    margin-top: 25px;
    border-radius: 40px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    width: 70vw;
    height: 900px;
    padding: 60px 35px 35px 35px;
    background: linear-gradient(to bottom, #34495e, #192a56, #273c75, #40739e, #487eb0, #2c3e50 );
}

.input {
    border: none;
    color: #eee;
    outline: none;
    background: none;
    font-size: $fontSize;
    padding: 20px 10px 20px 20px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #2f4155, inset -8px -8px 8px #2f4155;
    width: 300px;
    @include mQ(500) {
        width: 50vw;
    }
}

.city-countary {
    font-size: ($fontSize * 2);
    font-weight: $fontWeight;
}

.date {
    font-size: $fontSize;
}

.temprature {
    font-size: ($fontSize * 2);
    font-weight: $fontWeight;
}

.weather {
    font-size: ($fontSize * 1.8);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.daily-forcast {
    font-size: $fontSize;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: auto;

    p {
        margin: 0;
        padding: 2px 10px;
    }

    @include scroll;
}

.temperature-container {
    display: flex;
    justify-content: center;
}

.min-temperature {
    font-size: ($fontSize - 4px);
}

.max-temperature {
    font-size: ($fontSize - 2px);
    font-weight: $fontWeight;
}

.sunrise-container, .sunset-container {
    display: flex;
    justify-content: center;

    p {
        margin-top: 6px;
    }
}

.sun-moon-icon {
    width: 50px;
}

.weather-hourly {
    color: red;
    margin-top: 30px;
    overflow-x: auto;
    overflow-Y: hidden;
    
    p {
        padding: 0 30px;
        margin: 0;
    }

    @include scroll;
}
